<div class="m-3">
    <h1>Single Product Page</h1> 

    <h4>{{product.name}}</h4>
    <h4>{{product.img}}</h4>
    <h4>{{product.price}}</h4>
    <h4>{{product._id}}</h4>
    <h4>{{product.des}}</h4>
    <h4>{{product.catagory}}</h4>

    <a href="/users/add-to-cart/{{product._id}}" class="btn btn-primary">Add to Cart</a>
</div>